.head {
display: flex;
}

.system_info {
width: 50%;
height: 250px;
background-color: #F5F5DC;
}

.additional_info {
width: 50%;
height: 250px;
background-color: #F5F5F0;
}

h2 {
text-align: center;
}

.center{
display: flex;
justify-content: center; /* Align content horizontally at the center */
}